node_modules/
uploads/*
!uploads/users/
uploads/users/*.jpg
uploads/users/*.png
uploads/users/*.gif
!uploads/songs/
uploads/songs/*.mp3
uploads/songs/*.ogg
!uploads/artists/
uploads/artists/*.jpg
uploads/artists/*.png
uploads/artists/*.gif
!uploads/albums/
uploads/albums/*.jpg
uploads/albums/*.png
uploads/albums/*.gif


